/* ..................Global Settings ....................... */
*{
  box-sizing: border-box;
}
body{
  color: #000;
  max-width: 1440px;
  margin: auto;
}
/* ..................Global Settings ....................... End */